::-webkit-scrollbar {
  width: 7px;

} 
::-webkit-scrollbar-track {
  background: #2d2d2e; 
}
::-webkit-scrollbar-thumb {
  background: #999; 
  height:100px;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
    background:#2d2d2e;
    font-family: 'Hanken Grotesk', sans-serif;
    margin:2% 3.5% 2% 3.5%;
    padding:0;
    box-sizing:border-box;
}
h2{
    margin:0;
    font-weight:800;
    font-size:40px;
    color:rgb(233, 233, 233);
}
h1{
  margin:0;
  font-weight:800;
  font-size:80px;
  color:rgb(233, 233, 233);
}
p{
  margin:0;
  font-weight:400;
  font-size:16px;
  color:rgb(233, 233, 233);
}
.descripcionpablo{
  text-align:end;
}
.nombre{
  position:relative;
  width:100%;
  max-width:1000px;
  justify-content:center;
  align-items:center;
  display:flex;
  flex-flow:column nowrap;

}
.topnav{
    position:sticky;
    top:0;
    display:flex;
    align-content:center;
    flex:1;
    background:#2d2d2e;
}

.pablocoba{
    position:relative;
    display:block;
    flex-grow:10;
}
.flexboxnav{
    flex-grow:3;
    position:relative;
    display:flex;
    justify-content:space-evenly;
    flex-flow: row wrap;
    align-content:center;
}
.flexboxnav li{
    list-style: none;
    color:rgb(233, 233, 233);
    font-size:20px;
}

.blinkingdot{
    animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
}
.coba{
  animation:color-change 15s infinite;
}
@keyframes color-change {
  0%{color:red;}
  14% { color: orange; }
  30%{color:yellow;}
  45%{color:green;}
  66.6%{color:blue;}
  83.3%{color:purple;}
  100% { color: red; }
  
}